h1{
	text-align: center;
	margin-bottom: 100px;
	font-weight: 1000;
	font-family: 'Hind', sans-serif;
	color: white;}

body{
	
	color:#450084;
	font-family: 'Noto Sans', sans-serif;
	overflow-x: hidden; 
}

.card-header{

	text-align: center;
}


.btn1{

	margin-left: 100px;
}

.dropdown-menu{

min-width: 0px

}

.list-group-item{

	color: #450084;
}


